/*
Block:Top Bottom Margin Respected
Inline: Top Bottom Margin Not Respected mobile navbar
list-style-type:property
descendant selectors
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: green;
  color: #f15025;
  padding: 10px 10px;
  margin: 10px;
  display: block;
}
