/* Default display property
Block: always starts a new line and takes full width
inline: Does not start and only take up as much as content space 
*/
/* horizontal centering*/
body {
  text-align: center;
}

.block {
  background: blue;
  color: white;
  /*display: inline; */
  width: 150px;
  /* margin: 20px auto; */
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.inline {
  background: #ff0000;
  color: white;
  /*display: block; */
}
