/* RGBA 0-1 opacity/transparancy*/
body {
  background: rgba(200, 0, 0, 0.2);
}
#one {
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
}
#two {
  color: blue;
  background-color: rgba(0, 0, 0, 0.25);
}
#three {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.75);
}
#four {
  color: green;
  background-color: rgba(0, 0, 0, 0.5);
}
